/* Footer Copyright */

footer {
    position: absolute;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    bottom: 0;
    width: 100%;
    color: #ffffff;
    line-height: 80px;
    text-align: center;
}