body {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-image: url('../images/bg.png');
    padding: 0;
    margin: 0;
}

h2, h3, h4, h5, h6 {
    font-family: "Georgia', Times, Times New Roman, serif;";
    color: #4aaaa5;
}

.btn-primary {
    background-color: #007bff;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
    color: #ffffff;
    border: none;
}
.btn-primary:hover {
    background-color: #001bff;
    cursor: pointer;
    border-radius: 6px;
    padding: 15px;
    color: #ffffff;
    border: none;
}

ul {
    position: relative;
    top: -70px;
    margin-right: 27%;
    list-style-type: none;
    float: right;
    display: flex;
}

li {
    padding-right: 10px;
    font-size: 140%;
}


/* Link Default */
a {
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    color: #acacac;
}

/* Link Hover */
a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: #4aaaa5;
}

/* Anchor Style */
.link {
    list-style-type: none;
    text-decoration: none;
    font-weight: bold;
    color: #4aaaa5;
}

/* 
    This is our navigation seperator. We use the pseudo element (:after) to 
    apply the content character '|' between our links but NOT after the 
    last child, which in our case, is the 'Contact' tab.
*/
li:not(:last-child):after {
    opacity: 0.2;  /* Creates a dim transparent effect on our '|' character */
    color: #acacac; 
    content: " |"; /* The character we want to append between our nav links */
}

/* Nav Logo */

h1 {
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    padding: 30px;
    margin-left: 20%;
    margin-right: 68%;
}

p {
    color: #777777;
    line-height: 200%;
}

hr {
    border: 1px solid #cccccc;
}

/* Navigation */
nav {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

/* Profile Picture */
img {
    margin-right: 18px;
    width: 200px;
    float: left;
}

/* Main Content */
main {
    background-color: #ffffff;
    border: 1px solid #dddddd;
    width: 960px;
    margin-top: 5%;
    margin-left: 20%;
    overflow: hidden;
    padding: 30px;
}

/* Footer Copyright */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    color: #ffffff;
    line-height: 80px;
    text-align: center;
}