/* Extra Small Devices */

@media screen and (max-width: 400px) {
    main {
        background-color: #ffffff !important;
    border: 1px solid #dddddd !important;
    width: 319px !important;
    height: 100% !important;
    margin-left: 10px !important;
    margin-top: 10px !important;
    padding: 30px !important;
    }
    h1 {
        background-color: #4aaaa5 !important;
        color: #ffffff !important;
        margin: 0 !important;
        padding: 30px !important;
        font-size: 280% !important;
        text-align: center !important;
        margin-bottom: 8% !important;
    }
    li:not(:last-child):after {
        opacity: 0.0 !important;
    }
    img {
        width: 10% !important;
    }
    footer {
        position: unset !important;
        background-color: #666666 !important;
        border-top: 10px solid #4aaaa5 !important;
        bottom: 0 !important;
        width: 100% !important;
        color: #ffffff !important;
        line-height: 80px !important;
        text-align: center !important;
        margin-top: 10px !important;
    }
}

/* Intial Mobile Response */

@media screen and (max-width: 980px) {
    main {
        background-color: #ffffff !important;
        border: 1px solid #dddddd !important;
        width: 892px !important;
        height: 100% !important;
        margin-left: 10px !important;
        margin-top: 10px !important;
        padding: 30px !important;
    }
    h1 {
        background-color: #4aaaa5 !important;
        color: #ffffff !important;
        margin: 0 !important;
        padding: 30px !important;
        font-size: 280% !important;
        text-align: center !important;
        margin-bottom: 8% !important;
    }
    li:not(:last-child):after {
        opacity: 0.0 !important;
    }
    img {
        width: 30% !important;
    }
    footer {
        position: unset !important;
        background-color: #666666 !important;
        border-top: 10px solid #4aaaa5 !important;
        bottom: 0 !important;
        width: 100% !important;
        color: #ffffff !important;
        line-height: 80px !important;
        text-align: center !important;
        margin-top: 10px !important;
    }
}

/* Phone View */

@media screen and (max-width: 640px) {
    main {
        background-color: #ffffff !important;
        border: 1px solid #dddddd !important;
        width: 558px !important;
        height: 100% !important;
        margin-left: 10px !important;
        margin-top: 10px !important;
        padding: 30px !important;
    }
    h1 {
        background-color: #4aaaa5;
        color: #ffffff;
        margin: 0;
        padding: 30px;
        font-size: 280%;
        text-align: center;
        margin-bottom: 18%;
    }
    ul {
        position: relative;
        top: -56px;
        left: 45px;
        margin-right: 34%;
        list-style-type: none;
        float: right;
        display: flex;
    }
    li:not(:last-child):after {
        opacity: 0.0 !important;
    }
    img {
        width: 100% !important;
    }
    footer {
        position: unset !important;
        background-color: #666666 !important;
        border-top: 10px solid #4aaaa5 !important;
        bottom: 0 !important;
        width: 100% !important;
        color: #ffffff !important;
        line-height: 80px !important;
        text-align: center !important;
        margin-top: 10px !important;
    }
}